<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgersOnline</title>
        <meta charset="utf-8"/>
    </head>
    <main>
      <body>
	<h1> Välkommen till BurgersOnline </h1>
	<section>
	  <h2> Select burger </h2>
	  <p> This is where you execute the burger selection </p>
	  <h2> Fire Burger </h2>
	  <img src="https://www.mamoli.se/images/meny/hamburgare.png" alt="Riktigt fin burgare" title="burgare 1">
	</section>
	<section>
	  <h2> Customer information </h2>
	  <p> This is where you provide necessary information </p>
	</section>
	<footer>

	</footer>
      </body>
    </main>
</html>
   
