@import url("reset.css");

body{
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 16pt;
    text-align: center;
}
section{
    margin: 8vh 10vw;
      
}

.gluten{
    color: #ff5500;
    font-weight: bold;
}
#lactose{
    /*font-family: "New Century Schoolbook", TeX Gyre Schola, serif;
     */
    text-transform: uppercase;
    color: #55b200
}
#gluten{
    /*font-family: "New Century Schoolbook", TeX Gyre Schola, serif;
    */text-transform: uppercase;
}
#burgers{
    background-color: black;
    color: white;
    border: 5px dashed;
    
}
#info{
    border: 5px dashed;
        
}
button{
    margin-top: 50px;
}
button:hover{
    background-color: green;
    cursor: grab;   
}
table{
    
    margin: 0 auto;
}

.list{
    text-align: left;
}
